In [13]:
import pandas as pd

data = {
    'Var1': [1, 1, 0, 1, 0, 0],
    'Var2': [7.2500, 71.2833, 7.9250, 53.1000, 8.0500, 8.4583],
    'Var3': [22.0, 38.0, 26.0, 35.0, 35.0, None]
}

df = pd.DataFrame(data)
df

   Var1     Var2  Var3
0     1   7.2500  22.0
1     1  71.2833  38.0
2     0   7.9250  26.0
3     1  53.1000  35.0
4     0   8.0500  35.0
5     0   8.4583   NaN

In [14]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [15]:
impute_it = IterativeImputer()
impute_it.fit_transform(df)

array([[ 1.        ,  7.25      , 22.        ],
       [ 1.        , 71.2833    , 38.        ],
       [ 0.        ,  7.925     , 26.        ],
       [ 1.        , 53.1       , 35.        ],
       [ 0.        ,  8.05      , 35.        ],
       [ 0.        ,  8.4583    , 28.50639495]])

In [16]:
# Exemple : Créez un dataframe avec deux colonnes, 'Age' et 'Revenu'
data = {
    'Age': [25, 30, None, 27, 29],
    'Revenu': [1000, 2500, 800, None, 1800]
}

df = pd.DataFrame(data)

# Copiez les deux colonnes concernées dans une nouvelle dataframe temporaire
df_temp = df[['Age', 'Revenu']].copy()

# Créez un objet IterativeImputer pour imputer les valeurs manquantes dans la colonne 'Age'
imputer = IterativeImputer()
df_temp['Age'] = imputer.fit_transform(df_temp[['Age', 'Revenu']])[:, 0]

# Affichez le dataframe après l'imputation
df_temp

        Age  Revenu
0  25.00000  1000.0
1  30.00000  2500.0
2  24.81503   800.0
3  27.00000     NaN
4  29.00000  1800.0